.greyButton {
  background: #eae5dc;
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: #000;
  border-radius: 5px;
  min-width: 150px;
  line-height: 130%;
}

.greyButton:hover {
  text-decoration: none;
}

.redButton {
  background: #ba3656;
  color: #fff;

  cursor: pointer;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  min-width: 150px;
  display: block;
  width: 100%;
  line-height: 130%;
}
.redButton:hover {
  color: #e8c0ca;
  text-decoration: none;
}
.button-container {
  flex-direction: column;
}

@media (min-width: 520px) {
  .redButton {
    width: fit-content;
  }

  .greyButton {
    width: fit-content;
  }
  .button-container {
    flex-direction: row;
  }
}
