* {
  box-sizing: border-box;
}

h1 {
  text-align: left;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.cartWrap h3 {
  font-size: 1.3rem;
}
.cartWrap {
  max-width: 1000px;
  margin: auto;
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}
.cartProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #eae5dc;
  border-bottom: 1px solid #eae5dc;
  padding: 2rem 0;
}

.productInfo {
  text-align: left;
  padding: 2rem 0;
  margin-top: 0;
  text-decoration: none;
  color: black;
}

.counterButton {
  padding: 0.3rem 0.7rem;
  line-height: 90%;
  border-radius: 0;
  background: #eae5dc;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  margin: 0.8rem;
}

.cartWrap .productImage {
  flex: 0.15;
  max-width: 200px;
  margin-right: 0;
  padding: 0;
}

.productCount {
  padding: 1rem;
}

.price {
  font-weight: 900;
}

.totalAmount {
  font-size: 1.2rem;
  font-weight: 700;
  width: 50%;
  text-align: left;
  flex-grow: 1;
}

.cartFooter {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 1rem;
}

.cartNav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
}

.cartNav button {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
}

.removeButton {
  border-radius: 99%;
  color: #fff;
  padding: 0.25rem 0.4rem;
  line-height: 100%;
  border: 1px solid #ba3656;
  color: #ba3656;
  margin-left: 1rem;
  cursor: pointer;
}
.redButton {
  background-color: #d94a6e;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.redButton:hover {
  background-color: #ba3656;
}

.redButton:active {
  background-color: #a02c48;
}

.redButton.disabled {
  background-color: #f3f3f3;
  color: #595959;
  cursor: not-allowed;
}

.warningMessage {
  color: red;
  font-size: 14px;
}

@media only screen and (min-width: 520px) {
  .cartProduct {
    flex-direction: row;
  }

  .productInfo {
    padding: 0 2rem;
  }
  .cartNav {
    flex-direction: row;
  }
  .cartFooter {
    flex-direction: row;
  }
  .counterButton {
    font-size: 1rem;
    margin: 0.2rem;
  }
}
