* {
  box-sizing: border-box;
}

h1 {
  text-align: left;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.cartWrap h3 {
  font-size: 1.2rem;
}
.cartWrap {
  max-width: 1000px;
  margin: auto;
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cartProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #eae5dc;
  border-bottom: 1px solid #eae5dc;
  padding: 2rem;
}

.productInfo {
  text-align: left;
  padding: 0 2rem;
  margin-top: 0;
  text-decoration: none;
  color: black;
}

.counterButton {
  padding: 0.3rem 0.7rem;
  line-height: 90%;
  border-radius: 0;
}

.counterButton {
  background: #eae5dc;
  border: none;
  cursor: pointer;
}

.cartWrap .productImage {
  flex: 0.15;
  max-width: 200px;
  margin-right: 0;
  padding: 0;
}

.productCount {
  padding: 1rem;
}

.price {
  font-weight: 900;
}

.cartFooter {
  display: flex;
  padding: 1rem;
  justify-content: stretch;
}

.totalAmount {
  font-size: 1.2rem;
  font-weight: 700;
  width: 50%;
  text-align: left;
  flex-grow: 1;
}

.cartNav {
  display: flex;
  justify-content: end;
}

.cartNav button {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
}

.removeButton {
  border-radius: 99%;
  color: #fff;
  padding: 0.25rem 0.4rem;
  line-height: 100%;
  border: 1px solid #ba3656;
  color: #ba3656;
  margin-left: 1rem;
  cursor: pointer;
}

.warningMessage {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

@media only screen and (min-width: 420px) {
  .cartProduct {
    flex-direction: row;
  }
}
