.confirmation {
  background-color: #ece9e9;
  padding: 20px;
  width: 100%;
  max-width: 1000px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: -12.5rem auto 0 auto;
}

.user {
  padding-bottom: 2rem;
}

.confirmation h3 {
  font-size: 1.2em;
  margin-bottom: 2rem;
}

.text-info {
  text-align: left;
  padding: 0;
}

.split {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
}

.confirmation p {
  font-size: 1.1em;
  color: #555;
}

.confirmation-card ul {
  list-style-type: none;
  padding-left: 0;
}

.product-image {
  justify-content: left;
}

.confirmation-card li {
  background-color: #f9f9f9;
  padding: 15px;
  margin-bottom: 12px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  width: 100%;
}

.confirmation-card li img {
  display: flex;
  justify-content: center;
  width: 150px;
  height: 150px;
  margin-right: 15px;
  border-radius: 5px;
}

.logo {
  width: 200px;
  height: auto;
}

.confirmationButtonWrap {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .confirmation {
    border-radius: 8px;
    margin: -8rem auto 2rem auto;
  }

  .product-info {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
