.confirmation {
  background-color: #ece9e9;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  max-width: 1000px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: auto;
}

.user {
  padding-bottom: 2rem;
}

.confirmation h3 {
  font-size: 1.2em;
  margin-bottom: 2rem;
}

.text-info {
  text-align: left;
  padding: 0;
}

.split {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.product-info {
  display: flex;
  align-items: center;

  width: 100%; /* Ser till att den tar hela bredden */
  padding: 1rem;
  gap: 1rem;
  flex-wrap: wrap; /* Undviker att element kläms ihop */
}

.confirmation p {
  font-size: 1.1em;
  color: #555;
}

.confirmation-card ul {
  list-style-type: none;
  padding-left: 0;
}

.product-image {
  justify-content: left;
}

.confirmation-card li {
  background-color: #f9f9f9;
  padding: 15px;
  margin-bottom: 12px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;

  width: 100%;
}

.confirmation-card li img {
  width: 150px;
  height: 150px;
  margin-right: 15px;
  border-radius: 5px;
}

.logo {
  width: 200px;
  height: auto;
}

.redButton {
}
