.nav-div {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  position: relative;
}

.img-div {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.img-div img {
  height: 200px;
  width: auto;
}

.nav-links {
  display: flex;
  gap: 30px;
  align-items: center;
  list-style: none;
  margin-left: auto;
  font-weight: bold;
}

.nav-links a {
  text-decoration: none;
  color: black;
}

.nav-links a:hover {
  color: rgb(186, 54, 86);
}

.cart-button {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 12px;
  border-radius: 5px;
  background-color: rgb(247, 244, 239);
  transition: background-color 0.3s ease-in-out;
}

.cart-icon {
  width: 30px;
}

.cart-number {
  margin: 0px;
  font-weight: bold;
}

.cart-button:hover {
  background-color: rgba(186, 54, 87, 0.147);
}
