body {
  padding-top: 80px;
}

.nav-div {
  height: calc(0vw + 20px); /* 10vw + extra padding */
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  height: 80px;
}

.img-div {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.img-div img {
  display: flex;
  height: 20vw;
  max-height: 200px;
  width: auto;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
  list-style: none;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: black;
  transition: all 300ms ease;
}

.nav-home-products a:hover {
  color: rgb(186, 54, 86);
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.nav-home-products {
  display: flex;
  gap: 20px;
}

.nav-cart {
  display: flex;
  margin-left: auto;
}

.cart-button {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 12px;
  border-radius: 5px;
  background-color: rgb(247, 244, 239);
  transition: background-color 0.3s ease-in-out;
}

.cart-icon {
  width: 30px;
}

.cart-number {
  margin: 0px;
  font-weight: bold;
}

.cart-button:hover {
  background-color: rgba(186, 54, 87, 0.147);
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
  .nav-div {
    /* position: relative; */
    width: 100vw;
  }

  .nav-links {
    list-style: none;
    margin-left: auto;
  }

  body {
    padding-top: 300px;
  }

  .img-div {
    top: 10px;
  }

  @media (min-width: 1024px) {
    .nav-div {
      background-color: rgba(246, 232, 236, 0);
      box-shadow: none;
    }
  }
}
