* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.product-link:hover {
  text-decoration: none;
}

.product-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 2.5rem;
  height: auto;
}
.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.product-image {
  width: 100%;
  height: 250px;
  object-fit: contain;
  margin-bottom: 1rem;
}

.product-link {
  text-decoration: none;
  color: inherit;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-title {
  font-size: 1.3rem;
  margin: 0.5rem 0;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
.product-price {
  font-size: 0.8rem;
  color: #555;
  font-weight: bold;
  margin-bottom: 1rem;
}
.add-to-cart-button {
  background: #d94a6e;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  text-align: center;
}
.add-to-cart-button:hover {
  background: #ba3656;
  transform: scale(1.05);
}
.add-to-cart-button:active {
  background: #a02c48;
  transform: scale(0.98);
}
.category-div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.2rem 0;
  margin-bottom: 0.5rem;
}
.category-div .category {
  padding: 0.4rem 0.6rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: #eae5dc;
  transition: background-color 0.3s ease;
}
.category-div .category.active {
  background-color: #ba3656;
  color: white;
}

.dropdown select {
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  background-color: #eae5dc;
  border: none;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.dropdown {
  margin-bottom: 1rem;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  width: 400px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  font-size: 35px;
  cursor: pointer;
}

.modal-content h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
  text-align: center;
}

.modal-content p {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 20px;
}

.buttonNav {
  display: flex;
  justify-content: space-between;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (min-width: 768px) {
  .product-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    padding: 1rem 2rem;
  }
  .product-card {
    width: 100%;
  }
  .product-image {
    height: 200px;
  }
  .product-title {
    font-size: 1.1rem;
  }
  .product-price {
    font-size: 0.9rem;
  }
  .category-div {
    gap: 1rem;
  }
  .dropdown select {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
  }

  .category-div .category {
    padding: 0.5rem 1rem;
  }
}
